@font-face {
    font-family: chunk-five;
    src: url(font/chunk-five.otf);
}
@font-face {
    font-family: bebas-neue;
    src: url(font/bebas-neue.ttf);
}

body {
    background-color: #eeeeee;      
}
* {
    color: #333333;
}
#container {
    position: absolute;
    top: 50px;
    left: 50%;
    width: 600px;
    margin-left: -300px;
    text-align: center;
}
#title {
    width: 600px;
    font-family: chunk-five;
    font-size: 180px;
    text-align: center;
}
#subtitle {
    width: 600px;
    font-family: chunk-five;
    font-size: 75px;
    text-align: center;
    margin-top: -50px;
}
#screenshot {
    width: 450px;
    margin-top: 20px;
}
#description {
    width: 600px;
    font-size: 40px;
    font-family: bebas-neue;
    margin-top: 20px;
}